<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496480340540-aidejp3k8hfpbq2vh12bspmp9v40rblv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496480340540-aidejp3k8hfpbq2vh12bspmp9v40rblv</string>
	<key>API_KEY</key>
	<string>AIzaSyCD1MDHSgXHGbp0ubiN5Jo3mUrX0jR-44w</string>
	<key>GCM_SENDER_ID</key>
	<string>496480340540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.ryuuya.itou.StudyHabitRecord</string>
	<key>PROJECT_ID</key>
	<string>studyhabitrecord</string>
	<key>STORAGE_BUCKET</key>
	<string>studyhabitrecord.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496480340540:ios:b1e41b64608021580dd139</string>
	<key>DATABASE_URL</key>
	<string>https://studyhabitrecord.firebaseio.com</string>
</dict>
</plist>